.main {
  padding-left: 50px;
  padding-top: 50px;
}

.mainform {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

#url {
  width: 400px;
}

.success {
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}

